*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{  
    --p-color : #ffb223;
    --s-color : #042c54;
    --t-color :rgb(245, 236, 184);
    --f-color : #013364;
}
.hero{
    background-color: var(--s-color);
    height: 100vh;
    width: 100%;
}
.hero_nav{
    color: var(--t-color);
    display: flex;
    background:var(--s-color);
    filter: blur(56);
    justify-content: space-between;
}
.hero_nav h3 {
    margin: 20px 60px;
}
.hero_nav ul{
    list-style: none;
    display: flex;
    margin: 20px 60px;
}
.hero_nav ul li a{
    text-decoration: none;
    color: var(--t-color);
    padding: 0 3rem;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}
.hero_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero_container .hero_image{
    margin-top: 3rem;
}
.hero_container .hero_image img{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    box-shadow:0 0 100px 10px #ffb223;
    margin: 4rem 8rem;
}
.hero_name{
    margin: 10rem 0;
    padding: 5rem 0;
    align-items: center;
}
.hero_name h1{
    font-size: 5rem;
    color: var(--t-color);

}
.hero_name h3{
    font-size: 3.5rem;
    color: var(--t-color);
    padding-bottom: 2rem;
}
.hero_name p{
    width: 75%;
    color: var(--t-color);
    font-size: 24px;
    padding-bottom: 2rem;
}
.highlight{
    color: var(--p-color);
}
.hero_icons i{
    background-color: var(--s-color);
    color: var(--t-color);
    font-size: 50px;
    border-radius: 50%;
    padding-left: 12px;
    margin-bottom: 50px;
}
.hero_buttons button{
    background-color: var(--p-color);
    padding: 20px 30px;
    font-size: 20px;
    color: var(--s-color);
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0px 50px 1px var(--t-color);
}
.about{
    background:var(--f-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.about h1{
    margin: 0  0 100px 0;
    font-size: 60px;
    color: var(--p-color);
}
.about_container{
    border:1px solid #ffb223;
    width: 75%;
}
.about_description{
    display: flex;
}

.about_description .about_name h2{
    text-align: center;
    margin: 20px;
    font-size: 3rem;
    color: var(--t-color);
}
.about_description .about_name p{
    color: var(--t-color);
    padding-left: 3rem;
    font-size: 1.5rem;
    width: 90%;
    line-height: 40px;
    padding-bottom: 40px;

}

.services{
    background:var(--s-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}

.services h1{
    margin: 100px 0 0;
    font-size: 60px;
    color: var(--p-color);
}

.services .services_container{
    width: 75%;
    margin-top: 40px;
  
}

.services .services_container .section1{
    display: flex;
    justify-content: space-between;

}
.services .services_container .section1 .offer{
    width: 300px;
    height: 300px;
    border: 1px solid var(--p-color);
    margin: 30px 0  ;
}

.services .services_container .section2{
    display: flex;
    justify-content: space-between;

}

.services .services_container .section2 .offer1{
    width: 300px;
    height: 300px;
    border: 1px solid var(--p-color);
    margin: 30px 0  ;
}


.services .services_container .section1 .offer .offer_img img{
   width: 80px;
   height: 80px;
   margin: 40px 0 20px 40px;

}

.services .services_container .section1 .offer .offer_description{
    margin-left: 30px;
    
}

.services .services_container .section1 .offer .offer_description h3{
    font-size: 26px;
    margin-bottom: 20px;
    color: var(--t-color);
}
.services .services_container .section1 .offer .offer_description p{
    color: var(--t-color);
}

.services .services_container .section2 .offer1 .offer_img img{
    width: 80px;
    height: 80px;
    margin: 40px 0 20px 40px;
 
 }

.services .services_container .section2 .offer1 .offer_description{
    margin-left: 30px;
    
}

.services .services_container .section2 .offer1 .offer_description h3{
    font-size: 26px;
    margin-bottom: 20px;
    color: var(--t-color);
}
.services .services_container .section2 .offer1 .offer_description p{
    color: var(--t-color);
}


.skills {
    background-color: var(--f-color);
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h1{
    margin: 50px 0 30px;
    font-size: 60px;
    color: var(--p-color);
}

.skills .section_container{

    width: 65%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--p-color);
    border-radius: 5%;

}

.skills .section_container .section_row1{
    display: flex;
    
}


.skills .section_container .section_row1 .row1_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid var(--p-color);
    border-radius: 10%; 
    margin: 30px;
    padding: 40px;

}


.skills .section_container .section_row1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}

.skills .section_container .section_row1 h3{

    font-size: 30px;
    padding-left: 10px;
    color: var(--t-color);

}


.skills .section_container .section_row2 img{
    width: 100px;
    height: 100px;

}


.skills .section_container .section_row2{
    display: flex;
    
}


.skills .section_container .section_row2 .row2_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid var(--p-color);
    border-radius: 10%; 
    margin: 30px;
    padding: 40px;

}


.skills .section_container .section_row2 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   
}

.skills .section_container .section_row2 h3{

    font-size: 30px;
    padding-left: 10px;
    color: var(--t-color);

}


.skills .section_container .section_row2 img{
    width: 100px;
    height: 100px;

}

.contact{

    height: 100vh;
    background-color: var(--s-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact h1{
    text-align: center;
    padding-bottom: 5rem;
    color: var(--p-color);
    font-size: 60px;
}
.contact_container{
    display: flex;
    justify-content: space-around;

}
.contact_section {
    display: flex;
    flex-direction: column;
    width: 35%;
    border: 1px solid var(--p-color);
    height: 40rem;
    border-radius: 20px;
    box-shadow:0 0 30px 1px #ffb223;

}
.contact_section .contact_header{
    align-items: center;
    text-align: center;
}
.contact_section .contact_header h1{
    font-size: 3rem;
    color: var(--t-color);
    padding: 20px 0;
}
.contact_section .contact_header p{
    font-size: 1.3rem;
    text-align: start;
    color: var(--t-color);
    padding:20px;
}
.contact_forms .contact_box1 {
    display: flex;
    width: 100%;
    padding: 0 7px ;
}
.contact_forms .contact_box1 input{
    width: 50%;
    padding: 10px;
    margin: 14px;
    background: transparent;
    border: 2px solid var(--p-color);
    border-radius: 8px;
    color: var(--t-color);
    outline:none;
}
.contact_box2 select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--p-color);
    background: transparent;
    border-radius: 8px;
    color: var(--t-color);
}
.contact_box2 {
    padding: 20px;
}
.contact_box2 select option{
    color: #013364;
    background:var(--p-color);
}

.contact_box2 textarea{
    width: 100%;
    padding: 7px;
    border: 1px solid var(--p-color);
    background: transparent;
    border-radius: 8px;
    color: var(--t-color);
    outline: none;
}
.info_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
}
.contact_infos{
    display: flex;
    align-items: baseline;
}
.contact_infos i{
    display: flex;
    background:var(--p-color);
    color: var(--s-color);
    text-align: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 20px;
    font-size: 30px;
    border-radius: 50%;
    margin: 20px;
  
}
.contact_infos .contact_1{
    color: var(--t-color);
}
.contact_infos .contact_1 p{
    font-size: 24px;
    text-transform: capitalize;

}
.contact_infos .contact_1 h3{
    font-size: 30px;
}

